.footer {
    background-color: rgba(0, 0, 0, 0.9);

    padding: 8px;
    text-align: center;
    margin-top: 4%;
}


.footer h5 {
    text-align: center;
    color: #fff;
}

.hover {
    --b: 0.1em;
    --c: #fff;

    color: #fff;
    padding-block: var(--b);
    background:
        linear-gradient(var(--c) 50%, rgba(0, 0, 0, 0.9) 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: .3s var(--_s, 0s) linear,
        background-size .3s calc(.3s - var(--_s, 0s));
}

.hover:hover {
    --_p: 100%;
    --_s: .3s;
}




/* icons design */

:root {
    --link-size: 48px;
    --trans-props: all 0.3s ease;
}

.wrapper {
/* 
    height: 10vh; */

    text-align: center;

}

.wrapper,
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}


.social-icon {
    display: flex;

    position: relative;
    overflow: hidden;


    width: var(--link-size);
    height: var(--link-size);
    margin: 4px;

    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);

    text-decoration: none;

    transition: var(--trans-props);
}

.social-icon i {
    margin: auto;

    font-size: 24px;
    color: rgb(63, 78, 79);
    z-index: 1;
}

.social-icon:after {
    content: "";

    width: var(--link-size);
    height: var(--link-size);

    position: absolute;

    transform: translate(0, var(--link-size));

    border-radius: 50%;
    transition: var(--trans-props);
}

.social-icon.mail:after {
    background-color: #f2a60c;
}

.social-icon.github:after {
    background-color: #24292e;
}

.social-icon.instagram:after {
    background-image: linear-gradient(to bottom left,
            #4f5bd5,
            #962fbf,
            #d62976,
            #fa7e1e,
            #feda75);
}


.social-icon:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.9);
}

.social-icon:hover i {

    color: #fff;
}

.social-icon:hover:after {
    transform: translate(0) scale(1.2);
}